*{
    box-sizing: border-box;
}

body{
    background-color:blanchedalmond;
}

form{
    max-width: 600px;
    margin: 20px auto;
    background-color: aquamarine;
    padding: 20px;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 19px 10px 60px -33px rgba(0,0,0,0.75);
}

fieldset{
    border:none;
    margin-bottom: 20px;
    padding: 0;
}
legend{
    font-size: 1.25em;
    margin-bottom: 15px;
    color: brown;
}
.form-group{
    position: relative;
    margin-bottom: 20px;
}

label{
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="number"]{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    font-size: 1em;
    border: 1px solid #999
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="number"]:focus {
    border-color: blue;
    outline: none;
}

input:valid{
    border-color: green;
}

input:invalid{
    border-color: red;
}

button{
    background-color:rgb(114, 1, 114);
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 1rem;
    margin-right: 10px;
    float: right;
}
button:hover{
    background-color:rgb(146, 12, 146); 
}
button:disabled{
    background-color: grey;
    cursor: not-allowed;
}

/* Error Message */
input:invalid ~.error-message{
    color: red;
    font-size: 0.8em;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}
.error-message{
    display: none;
    color: red;
    font-size: 0.8em;
    margin-bottom: 10px;
}
.tooltip{
    display: none;
    position: absolute;
    background-color: blanchedalmond;
    padding: 5px;
    border-radius: 5px;
    font-size: 0.8em;
    width: 200px;
    top: 100%;
    left:0;
    margin-top: -10px;
    z-index: 10;
}
.form-group:hover .tooltip,
.form-group:focus + .tooltip{
    display: block;

}